USE [Интернет_провайдер]
GO
/****** Object:  Table [dbo].[Договоры]    Script Date: 18.09.2025 15:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Договоры](
	[id договора] [int] IDENTITY(1,1) NOT NULL,
	[id клиента] [int] NOT NULL,
	[id провайдера] [int] NOT NULL,
	[Дата заключения договора] [date] NOT NULL,
	[Время заключения договора] [time](7) NULL,
	[Статус активности] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id договора] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Договоры] ADD  DEFAULT (getutcdate()) FOR [Дата заключения договора]
GO
ALTER TABLE [dbo].[Договоры]  WITH CHECK ADD  CONSTRAINT [Договоры_клиенты_fk] FOREIGN KEY([id клиента])
REFERENCES [dbo].[Клиенты] ([id])
GO
ALTER TABLE [dbo].[Договоры] CHECK CONSTRAINT [Договоры_клиенты_fk]
GO
ALTER TABLE [dbo].[Договоры]  WITH CHECK ADD  CONSTRAINT [Договоры_провайдеры_fk] FOREIGN KEY([id провайдера])
REFERENCES [dbo].[Провайдер] ([id])
GO
ALTER TABLE [dbo].[Договоры] CHECK CONSTRAINT [Договоры_провайдеры_fk]
GO
