USE [Интернет_провайдер]
GO
/****** Object:  View [dbo].[Задолженности]    Script Date: 18.09.2025 15:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Задолженности] AS
SELECT 
    d.[id договора],
    k.[Фамилия] + ' ' + LEFT(k.[Имя], 1) + '.' + LEFT(k.[Отчество], 1) + '.' AS [Клиент],
    p.[Название провайдера],
    t.[Название тарифа],
    t.[Абоненская плата],
    d.[Дата заключения договора],
    DATEDIFF(MONTH, d.[Дата заключения договора], GETDATE()) AS [Месяцев_действия],
    -- Расчет задолженности: абонплата * количество месяцев
    t.[Абоненская плата] * DATEDIFF(MONTH, d.[Дата заключения договора], GETDATE()) AS [Общая_сумма_к_оплате],
    -- Сумма уже оплаченных платежей
    ISNULL((SELECT SUM(pl.[Сумма]) 
            FROM [Платежи] pl 
            WHERE pl.[id договора] = d.[id договора]), 0) AS [Оплачено],
    -- Задолженность: общая сумма - оплачено
    t.[Абоненская плата] * DATEDIFF(MONTH, d.[Дата заключения договора], GETDATE()) 
    - ISNULL((SELECT SUM(pl.[Сумма]) 
              FROM [Платежи] pl 
              WHERE pl.[id договора] = d.[id договора]), 0) AS [Задолженность],
    d.[Статус активности]
FROM [Договоры] d
INNER JOIN [Клиенты] k ON d.[id клиента] = k.[id]
INNER JOIN [Провайдер] p ON d.[id провайдера] = p.[id]
INNER JOIN [Услуги по договору] u ON d.[id договора] = u.[id договора]
INNER JOIN [Тарифные планы] t ON u.[id тарифа] = t.[id тарифа]
WHERE u.[Активна] = 1
AND d.[Статус активности] = 'Активен';
GO
