USE [Интернет_провайдер]
GO
/****** Object:  Table [dbo].[Услуги по договору]    Script Date: 18.09.2025 15:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Услуги по договору](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id договора] [int] NOT NULL,
	[id тарифа] [int] NOT NULL,
	[Дата начала] [date] NULL,
	[Дата окончания] [date] NULL,
	[Активна] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Услуги по договору]  WITH CHECK ADD  CONSTRAINT [FK_Услуги по договору_Договоры] FOREIGN KEY([id договора])
REFERENCES [dbo].[Договоры] ([id договора])
GO
ALTER TABLE [dbo].[Услуги по договору] CHECK CONSTRAINT [FK_Услуги по договору_Договоры]
GO
ALTER TABLE [dbo].[Услуги по договору]  WITH CHECK ADD  CONSTRAINT [FK_Услуги по договору_Тарифные планы] FOREIGN KEY([id тарифа])
REFERENCES [dbo].[Тарифные планы] ([id тарифа])
GO
ALTER TABLE [dbo].[Услуги по договору] CHECK CONSTRAINT [FK_Услуги по договору_Тарифные планы]
GO
