USE [Интернет_провайдер]
GO
/****** Object:  Table [dbo].[Заявки в техподдержку]    Script Date: 18.09.2025 15:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заявки в техподдержку](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id договора] [int] NOT NULL,
	[Тема заявки] [nvarchar](100) NOT NULL,
	[Описание] [nvarchar](max) NULL,
	[Статус заявки] [nvarchar](50) NOT NULL,
	[Приоритет] [int] NOT NULL,
	[Дата создания] [date] NOT NULL,
	[Время создания] [time](7) NOT NULL,
	[Дата закрытия] [date] NULL,
	[Время закрытия] [time](7) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Заявки в техподдержку] ADD  DEFAULT (getdate()) FOR [Дата создания]
GO
ALTER TABLE [dbo].[Заявки в техподдержку] ADD  DEFAULT (CONVERT([time],getdate())) FOR [Время создания]
GO
ALTER TABLE [dbo].[Заявки в техподдержку]  WITH CHECK ADD  CONSTRAINT [Заявки_договоры_fk] FOREIGN KEY([id договора])
REFERENCES [dbo].[Договоры] ([id договора])
GO
ALTER TABLE [dbo].[Заявки в техподдержку] CHECK CONSTRAINT [Заявки_договоры_fk]
GO
