USE [Интернет_провайдер]
GO
/****** Object:  Table [dbo].[Тарифные планы]    Script Date: 18.09.2025 15:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Тарифные планы](
	[id тарифа] [int] IDENTITY(1,1) NOT NULL,
	[id провайдера] [int] NOT NULL,
	[Название тарифа] [nvarchar](100) NOT NULL,
	[Описание тарифа] [nvarchar](max) NULL,
	[Скорость скачивания(Мбит/с)] [bigint] NOT NULL,
	[Скорость загрузки(Мбит/с)] [bigint] NOT NULL,
	[Абоненская плата] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[id тарифа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Тарифные планы]  WITH CHECK ADD  CONSTRAINT [ТарифныеПланы_Провайдер_fk] FOREIGN KEY([id провайдера])
REFERENCES [dbo].[Провайдер] ([id])
GO
ALTER TABLE [dbo].[Тарифные планы] CHECK CONSTRAINT [ТарифныеПланы_Провайдер_fk]
GO
