USE [Интернет_провайдер]
GO
/****** Object:  Table [dbo].[Платежи]    Script Date: 18.09.2025 15:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Платежи](
	[id платежа] [int] IDENTITY(1,1) NOT NULL,
	[id договора] [int] NOT NULL,
	[Сумма] [money] NOT NULL,
	[Дата платежа] [date] NOT NULL,
	[Время платежа] [time](7) NOT NULL,
	[Тип оплаты] [nvarchar](50) NULL,
	[Кому перечислено] [nvarchar](50) NOT NULL,
	[Комментарий] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id платежа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Платежи] ADD  DEFAULT (getutcdate()) FOR [Дата платежа]
GO
ALTER TABLE [dbo].[Платежи] ADD  DEFAULT (CONVERT([time],getutcdate())) FOR [Время платежа]
GO
ALTER TABLE [dbo].[Платежи]  WITH CHECK ADD  CONSTRAINT [Платежи_договоры_fk] FOREIGN KEY([id договора])
REFERENCES [dbo].[Договоры] ([id договора])
GO
ALTER TABLE [dbo].[Платежи] CHECK CONSTRAINT [Платежи_договоры_fk]
GO
