USE [Интернет_провайдер]
GO
/****** Object:  Table [dbo].[Провайдер]    Script Date: 18.09.2025 15:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Провайдер](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Название провайдера] [nvarchar](100) NOT NULL,
	[Номер телефона] [bigint] NOT NULL,
	[Электронная почта] [nvarchar](max) NOT NULL,
	[Дата регистрации] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Провайдер] ADD  DEFAULT (getutcdate()) FOR [Дата регистрации]
GO
