USE [master]
GO
/****** Object:  Database [Интернет_провайдер]    Script Date: 18.09.2025 15:05:11 ******/
CREATE DATABASE [Интернет_провайдер]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Интернет_провайдер', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Интернет_провайдер.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Интернет_провайдер_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Интернет_провайдер_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Интернет_провайдер].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Интернет_провайдер]
GO
/****** Object:  Table [dbo].[Договоры]    Script Date: 18.09.2025 15:05:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Договоры](
	[id договора] [int] IDENTITY(1,1) NOT NULL,
	[id клиента] [int] NOT NULL,
	[id провайдера] [int] NOT NULL,
	[Дата заключения договора] [date] NOT NULL,
	[Время заключения договора] [time](7) NULL,
	[Статус активности] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id договора] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Клиенты]    Script Date: 18.09.2025 15:05:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Клиенты](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Имя] [nvarchar](50) NOT NULL,
	[Фамилия] [nvarchar](50) NOT NULL,
	[Отчество] [nvarchar](100) NULL,
	[Лицевой счет] [varbinary](128) NOT NULL,
	[Номер телефона] [bigint] NOT NULL,
	[Электронная почта] [nvarchar](max) NOT NULL,
	[Дата регистрации клиента] [date] NOT NULL,
	[Время регистрации клиента] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Лицевой счет] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Платежи]    Script Date: 18.09.2025 15:05:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Платежи](
	[id платежа] [int] IDENTITY(1,1) NOT NULL,
	[id договора] [int] NOT NULL,
	[Сумма] [money] NOT NULL,
	[Дата платежа] [date] NOT NULL,
	[Время платежа] [time](7) NOT NULL,
	[Тип оплаты] [nvarchar](50) NULL,
	[Кому перечислено] [nvarchar](50) NOT NULL,
	[Комментарий] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id платежа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Провайдер]    Script Date: 18.09.2025 15:05:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Провайдер](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Название провайдера] [nvarchar](100) NOT NULL,
	[Номер телефона] [bigint] NOT NULL,
	[Электронная почта] [nvarchar](max) NOT NULL,
	[Дата регистрации] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Тарифные планы]    Script Date: 18.09.2025 15:05:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Тарифные планы](
	[id тарифа] [int] IDENTITY(1,1) NOT NULL,
	[id провайдера] [int] NOT NULL,
	[Название тарифа] [nvarchar](100) NOT NULL,
	[Описание тарифа] [nvarchar](max) NULL,
	[Скорость скачивания(Мбит/с)] [bigint] NOT NULL,
	[Скорость загрузки(Мбит/с)] [bigint] NOT NULL,
	[Абоненская плата] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[id тарифа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Услуги по договору]    Script Date: 18.09.2025 15:05:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Услуги по договору](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id договора] [int] NOT NULL,
	[id тарифа] [int] NOT NULL,
	[Дата начала] [date] NULL,
	[Дата окончания] [date] NULL,
	[Активна] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Задолженности]    Script Date: 18.09.2025 15:05:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Задолженности] AS
SELECT 
    d.[id договора],
    k.[Фамилия] + ' ' + LEFT(k.[Имя], 1) + '.' + LEFT(k.[Отчество], 1) + '.' AS [Клиент],
    p.[Название провайдера],
    t.[Название тарифа],
    t.[Абоненская плата],
    d.[Дата заключения договора],
    DATEDIFF(MONTH, d.[Дата заключения договора], GETDATE()) AS [Месяцев_действия],
    -- Расчет задолженности: абонплата * количество месяцев
    t.[Абоненская плата] * DATEDIFF(MONTH, d.[Дата заключения договора], GETDATE()) AS [Общая_сумма_к_оплате],
    -- Сумма уже оплаченных платежей
    ISNULL((SELECT SUM(pl.[Сумма]) 
            FROM [Платежи] pl 
            WHERE pl.[id договора] = d.[id договора]), 0) AS [Оплачено],
    -- Задолженность: общая сумма - оплачено
    t.[Абоненская плата] * DATEDIFF(MONTH, d.[Дата заключения договора], GETDATE()) 
    - ISNULL((SELECT SUM(pl.[Сумма]) 
              FROM [Платежи] pl 
              WHERE pl.[id договора] = d.[id договора]), 0) AS [Задолженность],
    d.[Статус активности]
FROM [Договоры] d
INNER JOIN [Клиенты] k ON d.[id клиента] = k.[id]
INNER JOIN [Провайдер] p ON d.[id провайдера] = p.[id]
INNER JOIN [Услуги по договору] u ON d.[id договора] = u.[id договора]
INNER JOIN [Тарифные планы] t ON u.[id тарифа] = t.[id тарифа]
WHERE u.[Активна] = 1
AND d.[Статус активности] = 'Активен';
GO
/****** Object:  Table [dbo].[Заявки в техподдержку]    Script Date: 18.09.2025 15:05:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заявки в техподдержку](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id договора] [int] NOT NULL,
	[Тема заявки] [nvarchar](100) NOT NULL,
	[Описание] [nvarchar](max) NULL,
	[Статус заявки] [nvarchar](50) NOT NULL,
	[Приоритет] [int] NOT NULL,
	[Дата создания] [date] NOT NULL,
	[Время создания] [time](7) NOT NULL,
	[Дата закрытия] [date] NULL,
	[Время закрытия] [time](7) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Договоры] ADD  DEFAULT (getutcdate()) FOR [Дата заключения договора]
GO
ALTER TABLE [dbo].[Заявки в техподдержку] ADD  DEFAULT (getdate()) FOR [Дата создания]
GO
ALTER TABLE [dbo].[Заявки в техподдержку] ADD  DEFAULT (CONVERT([time],getdate())) FOR [Время создания]
GO
ALTER TABLE [dbo].[Клиенты] ADD  DEFAULT (getutcdate()) FOR [Дата регистрации клиента]
GO
ALTER TABLE [dbo].[Платежи] ADD  DEFAULT (getutcdate()) FOR [Дата платежа]
GO
ALTER TABLE [dbo].[Платежи] ADD  DEFAULT (CONVERT([time],getutcdate())) FOR [Время платежа]
GO
ALTER TABLE [dbo].[Провайдер] ADD  DEFAULT (getutcdate()) FOR [Дата регистрации]
GO
ALTER TABLE [dbo].[Договоры]  WITH CHECK ADD  CONSTRAINT [Договоры_клиенты_fk] FOREIGN KEY([id клиента])
REFERENCES [dbo].[Клиенты] ([id])
GO
ALTER TABLE [dbo].[Договоры] CHECK CONSTRAINT [Договоры_клиенты_fk]
GO
ALTER TABLE [dbo].[Договоры]  WITH CHECK ADD  CONSTRAINT [Договоры_провайдеры_fk] FOREIGN KEY([id провайдера])
REFERENCES [dbo].[Провайдер] ([id])
GO
ALTER TABLE [dbo].[Договоры] CHECK CONSTRAINT [Договоры_провайдеры_fk]
GO
ALTER TABLE [dbo].[Заявки в техподдержку]  WITH CHECK ADD  CONSTRAINT [Заявки_договоры_fk] FOREIGN KEY([id договора])
REFERENCES [dbo].[Договоры] ([id договора])
GO
ALTER TABLE [dbo].[Заявки в техподдержку] CHECK CONSTRAINT [Заявки_договоры_fk]
GO
ALTER TABLE [dbo].[Платежи]  WITH CHECK ADD  CONSTRAINT [Платежи_договоры_fk] FOREIGN KEY([id договора])
REFERENCES [dbo].[Договоры] ([id договора])
GO
ALTER TABLE [dbo].[Платежи] CHECK CONSTRAINT [Платежи_договоры_fk]
GO
ALTER TABLE [dbo].[Тарифные планы]  WITH CHECK ADD  CONSTRAINT [ТарифныеПланы_Провайдер_fk] FOREIGN KEY([id провайдера])
REFERENCES [dbo].[Провайдер] ([id])
GO
ALTER TABLE [dbo].[Тарифные планы] CHECK CONSTRAINT [ТарифныеПланы_Провайдер_fk]
GO
ALTER TABLE [dbo].[Услуги по договору]  WITH CHECK ADD  CONSTRAINT [FK_Услуги по договору_Договоры] FOREIGN KEY([id договора])
REFERENCES [dbo].[Договоры] ([id договора])
GO
ALTER TABLE [dbo].[Услуги по договору] CHECK CONSTRAINT [FK_Услуги по договору_Договоры]
GO
ALTER TABLE [dbo].[Услуги по договору]  WITH CHECK ADD  CONSTRAINT [FK_Услуги по договору_Тарифные планы] FOREIGN KEY([id тарифа])
REFERENCES [dbo].[Тарифные планы] ([id тарифа])
GO
ALTER TABLE [dbo].[Услуги по договору] CHECK CONSTRAINT [FK_Услуги по договору_Тарифные планы]
GO
USE [master]
GO
