USE [master]
GO
/****** Object:  Database [Интернет_провайдер]    Script Date: 20.09.2025 20:36:52 ******/
CREATE DATABASE [Интернет_провайдер]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Интернет_провайдер', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Интернет_провайдер.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Интернет_провайдер_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Интернет_провайдер_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Интернет_провайдер].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [ЧТЕНИЕ]    Script Date: 20.09.2025 20:36:52 ******/
CREATE LOGIN [ЧТЕНИЕ] WITH PASSWORD=N'BqC5pbDHUPkdPixFGsI6u3mDXJdqSCAOXcEzPEE5Mik=', DEFAULT_DATABASE=[Интернет_провайдер], DEFAULT_LANGUAGE=[русский], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [ЧТЕНИЕ] ENABLE
GO
/****** Object:  Login [NT SERVICE\Winmgmt]    Script Date: 20.09.2025 20:36:52 ******/
CREATE LOGIN [NT SERVICE\Winmgmt] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[русский]
GO
/****** Object:  Login [NT SERVICE\SQLWriter]    Script Date: 20.09.2025 20:36:52 ******/
CREATE LOGIN [NT SERVICE\SQLWriter] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[русский]
GO
/****** Object:  Login [NT SERVICE\SQLTELEMETRY]    Script Date: 20.09.2025 20:36:52 ******/
CREATE LOGIN [NT SERVICE\SQLTELEMETRY] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[русский]
GO
/****** Object:  Login [NT SERVICE\SQLSERVERAGENT]    Script Date: 20.09.2025 20:36:52 ******/
CREATE LOGIN [NT SERVICE\SQLSERVERAGENT] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[русский]
GO
/****** Object:  Login [NT Service\MSSQLSERVER]    Script Date: 20.09.2025 20:36:52 ******/
CREATE LOGIN [NT Service\MSSQLSERVER] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[русский]
GO
/****** Object:  Login [NT AUTHORITY\СИСТЕМА]    Script Date: 20.09.2025 20:36:52 ******/
CREATE LOGIN [NT AUTHORITY\СИСТЕМА] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[русский]
GO
/****** Object:  Login [DESKTOP-TGCAJ0O\Артём]    Script Date: 20.09.2025 20:36:52 ******/
CREATE LOGIN [DESKTOP-TGCAJ0O\Артём] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[русский]
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [artemkoncevoj4]    Script Date: 20.09.2025 20:36:52 ******/
CREATE LOGIN [artemkoncevoj4] WITH PASSWORD=N'0WBwdil3owYQ+MaAC1qgvDEaBJt0Cr04+sxJxYeeAsg=', DEFAULT_DATABASE=[Интернет_провайдер], DEFAULT_LANGUAGE=[русский], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [artemkoncevoj4] ENABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyTsqlExecutionLogin##]    Script Date: 20.09.2025 20:36:52 ******/
CREATE LOGIN [##MS_PolicyTsqlExecutionLogin##] WITH PASSWORD=N'DMC28BdGnhamI66EJxnHruyscG3vGVgPbVKlLe9OWww=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyTsqlExecutionLogin##] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyEventProcessingLogin##]    Script Date: 20.09.2025 20:36:52 ******/
CREATE LOGIN [##MS_PolicyEventProcessingLogin##] WITH PASSWORD=N'T9Nto+uREXePSPZ60pBUfmNQvISXIspZlQo4ue2K33Y=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[русский], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyEventProcessingLogin##] DISABLE
GO
ALTER AUTHORIZATION ON DATABASE::[Интернет_провайдер] TO [artemkoncevoj4]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\Winmgmt]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\SQLWriter]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\SQLSERVERAGENT]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT Service\MSSQLSERVER]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [DESKTOP-TGCAJ0O\Артём]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [artemkoncevoj4]
GO
USE [Интернет_провайдер]
GO
/****** Object:  User [Db_reader]    Script Date: 20.09.2025 20:36:52 ******/
CREATE USER [Db_reader] FOR LOGIN [ЧТЕНИЕ] WITH DEFAULT_SCHEMA=[db_datareader]
GO
ALTER ROLE [db_datareader] ADD MEMBER [Db_reader]
GO
/****** Object:  Table [dbo].[Договоры]    Script Date: 20.09.2025 20:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Договоры](
	[id договора] [int] IDENTITY(1,1) NOT NULL,
	[id клиента] [int] NOT NULL,
	[id провайдера] [int] NOT NULL,
	[Дата заключения договора] [date] NOT NULL,
	[Время заключения договора] [time](7) NULL,
	[Статус активности] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id договора] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Договоры] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Клиенты]    Script Date: 20.09.2025 20:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Клиенты](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Имя] [nvarchar](50) NOT NULL,
	[Фамилия] [nvarchar](50) NOT NULL,
	[Отчество] [nvarchar](100) NULL,
	[Лицевой счет] [varbinary](128) NOT NULL,
	[Номер телефона] [bigint] NOT NULL,
	[Электронная почта] [nvarchar](max) NOT NULL,
	[Дата регистрации клиента] [date] NOT NULL,
	[Время регистрации клиента] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Лицевой счет] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Клиенты] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Платежи]    Script Date: 20.09.2025 20:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Платежи](
	[id платежа] [int] IDENTITY(1,1) NOT NULL,
	[id договора] [int] NOT NULL,
	[Сумма] [money] NOT NULL,
	[Дата платежа] [date] NOT NULL,
	[Время платежа] [time](7) NOT NULL,
	[Тип оплаты] [nvarchar](50) NULL,
	[Кому перечислено] [nvarchar](50) NOT NULL,
	[Комментарий] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id платежа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Платежи] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Провайдер]    Script Date: 20.09.2025 20:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Провайдер](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Название провайдера] [nvarchar](100) NOT NULL,
	[Номер телефона] [bigint] NOT NULL,
	[Электронная почта] [nvarchar](max) NOT NULL,
	[Дата регистрации] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Провайдер] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Тарифные планы]    Script Date: 20.09.2025 20:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Тарифные планы](
	[id тарифа] [int] IDENTITY(1,1) NOT NULL,
	[id провайдера] [int] NOT NULL,
	[Название тарифа] [nvarchar](100) NOT NULL,
	[Описание тарифа] [nvarchar](max) NULL,
	[Скорость скачивания(Мбит/с)] [bigint] NOT NULL,
	[Скорость загрузки(Мбит/с)] [bigint] NOT NULL,
	[Абоненская плата] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[id тарифа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Тарифные планы] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Услуги по договору]    Script Date: 20.09.2025 20:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Услуги по договору](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id договора] [int] NOT NULL,
	[id тарифа] [int] NOT NULL,
	[Дата начала] [date] NULL,
	[Дата окончания] [date] NULL,
	[Активна] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Услуги по договору] TO  SCHEMA OWNER 
GO
/****** Object:  View [dbo].[Задолженности]    Script Date: 20.09.2025 20:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Задолженности] AS
SELECT 
    d.[id договора],
    k.[Фамилия] + ' ' + LEFT(k.[Имя], 1) + '.' + LEFT(k.[Отчество], 1) + '.' AS [Клиент],
    p.[Название провайдера],
    t.[Название тарифа],
    t.[Абоненская плата],
    d.[Дата заключения договора],
    DATEDIFF(MONTH, d.[Дата заключения договора], GETDATE()) AS [Месяцев_действия],
    -- Расчет задолженности: абонплата * количество месяцев
    t.[Абоненская плата] * DATEDIFF(MONTH, d.[Дата заключения договора], GETDATE()) AS [Общая_сумма_к_оплате],
    -- Сумма уже оплаченных платежей
    ISNULL((SELECT SUM(pl.[Сумма]) 
            FROM [Платежи] pl 
            WHERE pl.[id договора] = d.[id договора]), 0) AS [Оплачено],
    -- Задолженность: общая сумма - оплачено
    t.[Абоненская плата] * DATEDIFF(MONTH, d.[Дата заключения договора], GETDATE()) 
    - ISNULL((SELECT SUM(pl.[Сумма]) 
              FROM [Платежи] pl 
              WHERE pl.[id договора] = d.[id договора]), 0) AS [Задолженность],
    d.[Статус активности]
FROM [Договоры] d
INNER JOIN [Клиенты] k ON d.[id клиента] = k.[id]
INNER JOIN [Провайдер] p ON d.[id провайдера] = p.[id]
INNER JOIN [Услуги по договору] u ON d.[id договора] = u.[id договора]
INNER JOIN [Тарифные планы] t ON u.[id тарифа] = t.[id тарифа]
WHERE u.[Активна] = 1
AND d.[Статус активности] = 'Активен';
GO
ALTER AUTHORIZATION ON [dbo].[Задолженности] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Заявки в техподдержку]    Script Date: 20.09.2025 20:36:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заявки в техподдержку](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id договора] [int] NOT NULL,
	[Тема заявки] [nvarchar](100) NOT NULL,
	[Описание] [nvarchar](max) NULL,
	[Статус заявки] [nvarchar](50) NOT NULL,
	[Приоритет] [int] NOT NULL,
	[Дата создания] [date] NOT NULL,
	[Время создания] [time](7) NOT NULL,
	[Дата закрытия] [date] NULL,
	[Время закрытия] [time](7) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER AUTHORIZATION ON [dbo].[Заявки в техподдержку] TO  SCHEMA OWNER 
GO
ALTER TABLE [dbo].[Договоры] ADD  DEFAULT (getutcdate()) FOR [Дата заключения договора]
GO
ALTER TABLE [dbo].[Заявки в техподдержку] ADD  DEFAULT (getdate()) FOR [Дата создания]
GO
ALTER TABLE [dbo].[Заявки в техподдержку] ADD  DEFAULT (CONVERT([time],getdate())) FOR [Время создания]
GO
ALTER TABLE [dbo].[Клиенты] ADD  DEFAULT (getutcdate()) FOR [Дата регистрации клиента]
GO
ALTER TABLE [dbo].[Платежи] ADD  DEFAULT (getutcdate()) FOR [Дата платежа]
GO
ALTER TABLE [dbo].[Платежи] ADD  DEFAULT (CONVERT([time],getutcdate())) FOR [Время платежа]
GO
ALTER TABLE [dbo].[Провайдер] ADD  DEFAULT (getutcdate()) FOR [Дата регистрации]
GO
ALTER TABLE [dbo].[Договоры]  WITH CHECK ADD  CONSTRAINT [Договоры_клиенты_fk] FOREIGN KEY([id клиента])
REFERENCES [dbo].[Клиенты] ([id])
GO
ALTER TABLE [dbo].[Договоры] CHECK CONSTRAINT [Договоры_клиенты_fk]
GO
ALTER TABLE [dbo].[Договоры]  WITH CHECK ADD  CONSTRAINT [Договоры_провайдеры_fk] FOREIGN KEY([id провайдера])
REFERENCES [dbo].[Провайдер] ([id])
GO
ALTER TABLE [dbo].[Договоры] CHECK CONSTRAINT [Договоры_провайдеры_fk]
GO
ALTER TABLE [dbo].[Заявки в техподдержку]  WITH CHECK ADD  CONSTRAINT [Заявки_договоры_fk] FOREIGN KEY([id договора])
REFERENCES [dbo].[Договоры] ([id договора])
GO
ALTER TABLE [dbo].[Заявки в техподдержку] CHECK CONSTRAINT [Заявки_договоры_fk]
GO
ALTER TABLE [dbo].[Платежи]  WITH CHECK ADD  CONSTRAINT [Платежи_договоры_fk] FOREIGN KEY([id договора])
REFERENCES [dbo].[Договоры] ([id договора])
GO
ALTER TABLE [dbo].[Платежи] CHECK CONSTRAINT [Платежи_договоры_fk]
GO
ALTER TABLE [dbo].[Тарифные планы]  WITH CHECK ADD  CONSTRAINT [ТарифныеПланы_Провайдер_fk] FOREIGN KEY([id провайдера])
REFERENCES [dbo].[Провайдер] ([id])
GO
ALTER TABLE [dbo].[Тарифные планы] CHECK CONSTRAINT [ТарифныеПланы_Провайдер_fk]
GO
ALTER TABLE [dbo].[Услуги по договору]  WITH CHECK ADD  CONSTRAINT [FK_Услуги по договору_Договоры] FOREIGN KEY([id договора])
REFERENCES [dbo].[Договоры] ([id договора])
GO
ALTER TABLE [dbo].[Услуги по договору] CHECK CONSTRAINT [FK_Услуги по договору_Договоры]
GO
ALTER TABLE [dbo].[Услуги по договору]  WITH CHECK ADD  CONSTRAINT [FK_Услуги по договору_Тарифные планы] FOREIGN KEY([id тарифа])
REFERENCES [dbo].[Тарифные планы] ([id тарифа])
GO
ALTER TABLE [dbo].[Услуги по договору] CHECK CONSTRAINT [FK_Услуги по договору_Тарифные планы]
GO
USE [master]
GO
USE [Интернет_провайдер];

CREATE SYMMETRIC KEY CreditCardSymKey
WITH ALGORITHM = AES_256
ENCRYPTION BY PASSWORD = 'artemkoncevoj4';
GO
USE [Интернет_провайдер]
GO

-- Создаем зашифрованный триггер
CREATE TRIGGER [dbo].[Шифрование_Лицевого_Счета]
ON [dbo].[Клиенты]
INSTEAD OF INSERT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        OPEN SYMMETRIC KEY CreditCardSymKey
            DECRYPTION BY PASSWORD = 'artemkoncevoj4';

        INSERT INTO Клиенты (Имя, Фамилия, Отчество, [Лицевой счет], [Номер телефона], 
                           [Электронная почта], [Дата регистрации клиента], [Время регистрации клиента])
        SELECT 
            Имя, 
            Фамилия, 
            Отчество,
            ENCRYPTBYKEY(KEY_GUID('CreditCardSymKey'), CAST([Лицевой счет] AS varbinary(128))),
            [Номер телефона],
            [Электронная почта],
            COALESCE([Дата регистрации клиента], GETDATE()),
            COALESCE([Время регистрации клиента], CAST(GETDATE() AS TIME))
        FROM inserted;

        CLOSE SYMMETRIC KEY CreditCardSymKey;
    END TRY
    BEGIN CATCH
        -- Закрываем ключ в случае ошибки
        IF EXISTS (SELECT 1 FROM sys.openkeys WHERE key_name = 'CreditCardSymKey')
            CLOSE SYMMETRIC KEY CreditCardSymKey;
        
        THROW;
    END CATCH
END;
GO
-- Шифруем триггер (после его создания)
EXEC sp_helptext '[dbo].[Шифрование_Лицевого_Счета]';

-- Зашифровываем триггер
EXEC('
ALTER TRIGGER [dbo].[Шифрование_Лицевого_Счета]
ON [dbo].[Клиенты]
WITH ENCRYPTION
INSTEAD OF INSERT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        OPEN SYMMETRIC KEY CreditCardSymKey
            DECRYPTION BY PASSWORD = ''artemkoncevoj4'';

        INSERT INTO Клиенты (Имя, Фамилия, Отчество, [Лицевой счет], [Номер телефона], 
                           [Электронная почта], [Дата регистрации клиента], [Время регистрации клиента])
        SELECT 
            Имя, 
            Фамилия, 
            Отчество,
            ENCRYPTBYKEY(KEY_GUID(''CreditCardSymKey''), CAST([Лицевой счет] AS varbinary(128))),
            [Номер телефона],
            [Электронная почта],
            COALESCE([Дата регистрации клиента], GETDATE()),
            COALESCE([Время регистрации клиента], CAST(GETDATE() AS TIME))
        FROM inserted;

        CLOSE SYMMETRIC KEY CreditCardSymKey;
    END TRY
    BEGIN CATCH
        IF EXISTS (SELECT 1 FROM sys.openkeys WHERE key_name = ''CreditCardSymKey'')
            CLOSE SYMMETRIC KEY CreditCardSymKey;
        
        THROW;
    END CATCH
END;
');
GO
use Интернет_провайдер;
GO

use Интернет_провайдер;
INSERT INTO [dbo].[Провайдер] (
    [Название провайдера],
    [Номер телефона], 
    [Электронная почта],
    [Дата регистрации]
)
VALUES
    ('Ростелеком', 88001000800, 'support@rostelecom.ru', '2020-01-15'),
    ('Билайн', 88007000600, 'info@beeline.ru', '2019-05-20'),
    ('МТС', 88002500900, 'contact@mts.ru', '2018-03-10'),
    ('Дом.ru', 88003330000, 'help@domru.ru', '2021-07-12'),
    ('ТТК', 88003333737, 'support@ttk.ru', '2022-02-28');
GO

-- Тарифы для Ростелеком

-- Тарифы для Билайн

-- Тарифы для МТС

-- Тарифы для Дом.ru

-- Тарифы для ТТК
GO

-- Договоры для клиентов (по 2 договора каждому)
GO

-- Клиент 1: Иван Петров Сергеевич (активный договор с Ростелеком)
INSERT INTO [Услуги по договору] (
    [id договора],
    [id тарифа],
    [Дата начала],
    [Дата окончания],
    [Активна]
)
SELECT
    d.[id договора],
    t.[id тарифа],
    d.[Дата заключения договора] as [Дата начала],
    DATEADD(MONTH, 1, d.[Дата заключения договора]) as [Дата окончания],
    1 as [Активна]
FROM [Договоры] d
INNER JOIN [Тарифные планы] t ON d.[id провайдера] = t.[id провайдера]
WHERE d.[Статус активности] = 'Активен'
AND t.[Название тарифа] = 'Игровой 300'
AND d.[id клиента] = (SELECT id FROM Клиенты WHERE Имя='Иван' AND Фамилия='Петров');

-- Клиент 2: Мария Иванова Александровна (активный договор с Билайн)
INSERT INTO [Услуги по договору] (
    [id договора],
    [id тарифа],
    [Дата начала],
    [Дата окончания],
    [Активна]
)
SELECT
    d.[id договора],
    t.[id тарифа],
    d.[Дата заключения договора] as [Дата начала],
    DATEADD(MONTH, 1, d.[Дата заключения договора]) as [Дата окончания],
    1 as [Активна]
FROM [Договоры] d
INNER JOIN [Тарифные планы] t ON d.[id провайдера] = t.[id провайдера]
WHERE d.[Статус активности] = 'Активен'
AND t.[Название тарифа] = 'Всё включено 150'
AND d.[id клиента] = (SELECT id FROM Клиенты WHERE Имя='Мария' AND Фамилия='Иванова');

-- Клиент 3: Алексей Смирнов Дмитриевич (активный договор с МТС)
INSERT INTO [Услуги по договору] (
    [id договора],
    [id тарифа],
    [Дата начала],
    [Дата окончания],
    [Активна]
)
SELECT
    d.[id договора],
    t.[id тарифа],
    d.[Дата заключения договора] as [Дата начала],
    DATEADD(MONTH, 1, d.[Дата заключения договора]) as [Дата окончания],
    1 as [Активна]
FROM [Договоры] d
INNER JOIN [Тарифные планы] t ON d.[id провайдера] = t.[id провайдера]
WHERE d.[Статус активности] = 'Активен'
AND t.[Название тарифа] = 'МТС 120'
AND d.[id клиента] = (SELECT id FROM Клиенты WHERE Имя='Алексей' AND Фамилия='Смирнов');

-- Клиент 4: Екатерина Кузнецова Владимировна (активный договор с Дом.ru)
INSERT INTO [Услуги по договору] (
    [id договора],
    [id тарифа],
    [Дата начала],
    [Дата окончания],
    [Активна]
)
SELECT
    d.[id договора],
    t.[id тарифа],
    d.[Дата заключения договора] as [Дата начала],
    DATEADD(MONTH, 1, d.[Дата заключения договора]) as [Дата окончания],
    1 as [Активна]
FROM [Договоры] d
INNER JOIN [Тарифные планы] t ON d.[id провайдера] = t.[id провайдера]
WHERE d.[Статус активности] = 'Активен'
AND t.[Название тарифа] = 'Домашний 130'
AND d.[id клиента] = (SELECT id FROM Клиенты WHERE Имя='Екатерина' AND Фамилия='Кузнецова');

-- Клиент 5: Дмитрий Попов Игоревич (активный договор с ТТК)
INSERT INTO [Услуги по договору] (
    [id договора],
    [id тарифа],
    [Дата начала],
    [Дата окончания],
    [Активна]
)
SELECT
    d.[id договора],
    t.[id тарифа],
    d.[Дата заключения договора] as [Дата начала],
    DATEADD(MONTH, 1, d.[Дата заключения договора]) as [Дата окончания],
    1 as [Активна]
FROM [Договоры] d
INNER JOIN [Тарифные планы] t ON d.[id провайдера] = t.[id провайдера]
WHERE d.[Статус активности] = 'Активен'
AND t.[Название тарифа] = 'ТТК 110'
AND d.[id клиента] = (SELECT id FROM Клиенты WHERE Имя='Дмитрий' AND Фамилия='Попов');

-- Клиент 6: Ольга Лебедева Николаевна (активный договор с Ростелеком)
INSERT INTO [Услуги по договору] (
    [id договора],
    [id тарифа],
    [Дата начала],
    [Дата окончания],
    [Активна]
)
SELECT
    d.[id договора],
    t.[id тарифа],
    d.[Дата заключения договора] as [Дата начала],
    DATEADD(MONTH, 1, d.[Дата заключения договора]) as [Дата окончания],
    1 as [Активна]
FROM [Договоры] d
INNER JOIN [Тарифные планы] t ON d.[id провайдера] = t.[id провайдера]
WHERE d.[Статус активности] = 'Активен'
AND t.[Название тарифа] = 'Домашний 100'
AND d.[id клиента] = (SELECT id FROM Клиенты WHERE Имя='Ольга' AND Фамилия='Лебедева');

-- Клиент 7: Сергей Новиков Петрович (активный договор с Билайн)
INSERT INTO [Услуги по договору] (
    [id договора],
    [id тарифа],
    [Дата начала],
    [Дата окончания],
    [Активна]
)
SELECT
    d.[id договора],
    t.[id тарифа],
    d.[Дата заключения договора] as [Дата начала],
    DATEADD(MONTH, 1, d.[Дата заключения договора]) as [Дата окончания],
    1 as [Активна]
FROM [Договоры] d
INNER JOIN [Тарифные планы] t ON d.[id провайдера] = t.[id провайдера]
WHERE d.[Статус активности] = 'Активен'
AND t.[Название тарифа] = 'Игровая зона 400'
AND d.[id клиента] = (SELECT id FROM Клиенты WHERE Имя='Сергей' AND Фамилия='Новиков');

-- Клиент 8: Анна Морозова Викторовна (активный договор с МТС)
INSERT INTO [Услуги по договору] (
    [id договора],
    [id тарифа],
    [Дата начала],
    [Дата окончания],
    [Активна]
)
SELECT
    d.[id договора],
    t.[id тарифа],
    d.[Дата заключения договора] as [Дата начала],
    DATEADD(MONTH, 1, d.[Дата заключения договора]) as [Дата окончания],
    1 as [Активна]
FROM [Договоры] d
INNER JOIN [Тарифные планы] t ON d.[id провайдера] = t.[id провайдера]
WHERE d.[Статус активности] = 'Активен'
AND t.[Название тарифа] = 'Семейный кинозал 280'
AND d.[id клиента] = (SELECT id FROM Клиенты WHERE Имя='Анна' AND Фамилия='Морозова');

-- Клиент 9: Андрей Волков Олегович (активный договор с Дом.ru)
INSERT INTO [Услуги по договору] (
    [id договора],
    [id тарифа],
    [Дата начала],
    [Дата окончания],
    [Активна]
)
SELECT
    d.[id договора],
    t.[id тарифа],
    d.[Дата заключения договора] as [Дата начала],
    DATEADD(MONTH, 1, d.[Дата заключения договора]) as [Дата окончания],
    1 as [Активна]
FROM [Договоры] d
INNER JOIN [Тарифные планы] t ON d.[id провайдера] = t.[id провайдера]
WHERE d.[Статус активности] = 'Активен'
AND t.[Название тарифа] = 'Игровой 320'
AND d.[id клиента] = (SELECT id FROM Клиенты WHERE Имя='Андрей' AND Фамилия='Волков');

-- Клиент 10: Наталья Соловьева Сергеевна (активный договор с ТТК)
INSERT INTO [Услуги по договору] (
    [id договора],
    [id тарифа],
    [Дата начала],
    [Дата окончания],
    [Активна]
)
SELECT
    d.[id договора],
    t.[id тарифа],
    d.[Дата заключения договора] as [Дата начала],
    DATEADD(MONTH, 1, d.[Дата заключения договора]) as [Дата окончания],
    1 as [Активна]
FROM [Договоры] d
INNER JOIN [Тарифные планы] t ON d.[id провайдера] = t.[id провайдера]
WHERE d.[Статус активности] = 'Активен'
AND t.[Название тарифа] = 'Геймер 300'
AND d.[id клиента] = (SELECT id FROM Клиенты WHERE Имя='Наталья' AND Фамилия='Соловьева');
GO
use Интернет_провайдер;
GO
-- Платежи для активных договоров
use Интернет_провайдер;

-- Клиент 1: Иван Петров (Ростелеком - Игровой 300)
DECLARE @id_ДОГОВОРА INT = 1;
INSERT INTO Платежи (
    [id договора],
    [Сумма],
    [Дата платежа],
    [Время платежа],
    [Тип оплаты],
    [Кому перечислено],
    Комментарий
)
VALUES
(
    @id_ДОГОВОРА,
    2900.00,
    '2024-02-20',
    '10:30:00',
    'Электронный',
    (SELECT p.[Название провайдера] FROM Договоры d INNER JOIN Провайдер p ON d.[id провайдера] = p.id WHERE [id договора]= @id_ДОГОВОРА),
    'Оплата тарифа Игровой 300'
);
GO
-- Клиент 2: Мария Иванова (Билайн - Всё включено 150)
DECLARE @id_ДОГОВОРА INT = 3;
INSERT INTO Платежи (
    [id договора],
    [Сумма],
    [Дата платежа],
    [Время платежа],
    [Тип оплаты],
    [Кому перечислено],
    Комментарий
)
VALUES
(
    @id_ДОГОВОРА,
    2600.00,
    '2024-02-25',
    '11:20:00',
    'Наличными',
    (SELECT p.[Название провайдера] FROM Договоры d INNER JOIN Провайдер p ON d.[id провайдера] = p.id WHERE [id договора]= @id_ДОГОВОРА),
    'Оплата тарифа Всё включено 150'
);
GO
-- Клиент 3: Алексей Смирнов (МТС - МТС 120)
DECLARE @id_ДОГОВОРА INT = 5;
INSERT INTO Платежи (
    [id договора],
    [Сумма],
    [Дата платежа],
    [Время платежа],
    [Тип оплаты],
    [Кому перечислено],
    Комментарий
)
VALUES
(
    @id_ДОГОВОРА,
    20000.00,
    '2024-03-05',
    '09:15:00',
    'Электронный',
    (SELECT p.[Название провайдера] FROM Договоры d INNER JOIN Провайдер p ON d.[id провайдера] = p.id WHERE [id договора]= @id_ДОГОВОРА),
    'Оплата тарифа МТС 120'
);
GO
-- Клиент 4: Екатерина Кузнецова (Дом.ru - Домашний 130)
DECLARE @id_ДОГОВОРА INT = 7;
GO
-- Клиент 5: Дмитрий Попов (ТТК - ТТК 110)
DECLARE @id_ДОГОВОРА INT = 9;
GO
-- Клиент 6: Ольга Лебедева (Ростелеком - Домашний 100)
DECLARE @id_ДОГОВОРА INT = 11;
GO
-- Клиент 7: Сергей Новиков (Билайн - Игровая зона 400)
DECLARE @id_ДОГОВОРА INT = 13;
GO
-- Клиент 8: Анна Морозова (МТС - Семейный кинозал 280)
DECLARE @id_ДОГОВОРА INT = 15;
GO
-- Клиент 9: Андрей Волков (Дом.ru - Игровой 320)
DECLARE @id_ДОГОВОРА INT = 17;
GO
-- Клиент 10: Наталья Соловьева (ТТК - Геймер 300)
DECLARE @id_ДОГОВОРА INT = 19;
GO